body {
    background-color: #e3e6eb;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #ffffff;
    max-width: 600px;
    margin: auto;
    padding: 50px 200px;
    box-shadow: 5px 5px 5px slategrey;
    border-radius: 10px;

}

.intro p {
    margin-bottom: 50px;
    text-align: justify;
}

.intro button {
    background-color: #111727;
    color: white;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 15px;
}

.intro span {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.socmed {
    text-align: center;
    margin: auto;
    font-size: 35px;
    width: 300px;
    padding: 50px;
    gap: 25px;
    color: red;
}

.profile {
    background-color: #f7f6f4;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
}

.profile img {
    border-radius: 5px 5px 0 0;
}

.profile p {
    padding-bottom: 10px;

}